<h1>Recibo</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Forma_pago</th>
            <td>{{ entity.formapago }}</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>{{ entity.total }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('distrifil_recibo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('distrifil_recibo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('distrifil_recibo_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
