{%block head%}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Web Distrifil</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/distrifilcuenta/css/styles.css') }}" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/distrifilcuenta/css/autocomplete.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/distrifilcuenta/css/menu.css') }}" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{{ asset('bundles/distrifilcuenta/js/menu.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/distrifilcuenta/buscar.js') }}" type="text/javascript"></script>
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="logo">
                <h1>Distrifil</h1>
            </div>                
        </div>
{%endblock%}
            
{%block menu%} 
    <div id="headermenu">  
        <ul id="mainmenu" >
            <li><a href="{{path('inicio')}}">Inicio</a></li>
            <li><a href="#">Cuentas</a>
                <ul>
                    <li><a href="{{path('buscarcli')}}">Facturar</a></li>
                    <li><a href="#">Pago</a></li>
                    <li><a href="#">Estado</a></li>
                    <li><a href="#">Movimientos</a></li>
                </ul>
            </li>
            <li><a href="#">Estadisticas</a>
                <ul>
                    <li><a href="#">Ventas por Cliente</a></li>
                    <li><a href="#">Ventas por Rubros</a></li>                    
                </ul>
            </li>
                
        </ul>

    </div>      
{%endblock%} 
                
{%block body%}                
{%endblock%}
                
{%block footer%}            
                      
        <div id="wrapper">   
            <div id="footer">
                <div class="fleft">Copyright Curso CtrolF</div>
            </div>
        </div>               
    </div>
{%block javascript%}
{%endblock%}       
</body>
</html>
{%endblock%}
